* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  letter-spacing: -0.025em;
  font-family: 'Pretendard';
  transition: var(--duration);
  line-height: 1;
}

html,
body {
  color: var(--color-font);
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.025em;
}

.wrap {
  position: relative;
  width: 100dvw;
  height: 100vh;
}

.wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap .abs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrap .abs img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.wrap .abs.act img {
  animation-name: crescendo;
  animation-duration: 5s;
  animation-fill-mode: both;

  &:nth-child(2) {
    animation-delay: 3s;
  }

  &:nth-child(3) {
    animation-name: crescendo2;
    animation-delay: 6s;
    animation-duration: 3s;
  }
}

@keyframes crescendo {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  30% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@keyframes crescendo2 {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}